body {
    margin: 0;
    padding: 0;
    background: #3b3434;
}

ul {
    display: flex;
    margin-left: 30%;
    margin-top: 20%;
    list-style-type: none;
}

ul li {
    font-size: 4em;
    letter-spacing: 10px;
    font-family: fantasy;
    color:#212121 ;
   animation: animate 1s infinite linear;
}

@keyframes animate {
    0% {
        color:#212121 ;
        text-shadow: 0 0 10px;
    }
    
    50% {
        color:#E72853;
        text-shadow: 0 0 10px;
    }
    
    100% {
        color:#212121; 
        text-shadow: none;
    }
    


}

ul li:nth-child(1) {
    animation-delay: 
}

ul li:nth-child(2) {
    animation-delay:
    
}

ul li:nth-child(3) {
    animation-delay: 
}

ul li:nth-child(4) {
    animation-delay: 
}

ul li:nth-child(5) {
    animation-delay: 
}

ul li:nth-child(6) {
    animation-delay
}

ul li:nth-child(7) {
    animation-delay: 
}

ul li:nth-child(8) {
    animation-delay: 
}

ul li:nth-child(9) {
    animation-delay: 4.8s;
}

ul li:nth-child(10) {
    animation-delay: 
    
    
}
